*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    height: 60px;
    border-bottom: 10px solid rgba(16, 199, 16, 0.555);
}
.advans{
    font-size: 29px;
    font-weight: bold;
    opacity: 0.8;
    margin-left: 20px;
    color: white !important;
    text-shadow: 2px 2px 2px orange;
}
.advans::first-letter{
    color: white;
}
.images-loan{
    height: 600px;
}
.heure{
    text-align: right;
    font-size: 25px;
    margin-top: -40px;
    margin-right: 50px;
    font-weight: bold;
    opacity: 0.8;
}
.div-adv{
    height: 40px;
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
    font-size: 25px;
    border-left: 10px solid rgba(16, 199, 16, 0.555);
    border-bottom: 20px solid white;
    border-top: 20px solid white;
    border-right: 10px solid rgba(16, 199, 16, 0.555);
     text-shadow: 2px 2px 2px orange;
     font-weight: bold;
}
[for*="au"]{
    font-weight: bold;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
}

.form-image{
     background-color: rgba(128, 128, 128, 0.1);
     padding: 20px;
     border-left: 5px solid green;
}
.seconnecte{
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    border-left: 10px solid rgba(16, 199, 16, 0.555);
}
.btn-adv {
    height: 40px;
    width: 150px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    border-left: 10px solid rgba(16, 199, 16, 0.555);
    color: white;
}
.color{
    color: white !important;
}
.noti{
    background-color: rgb(211, 124, 124);
    height: 30px;
    width: 30px;
    color: white;
    font-size: 19px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
}